<section>
  <%= render partial: "shared/user", locals: { user: @user }%>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Bio</h5>
      <p class="card-text"><%= @user.bio %></p>
    </div>
  </div>
<section>
<section>
  <div class="card">
    <div class="card-header">
      Post #<%=  %>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</section>